{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

    <title>Hexashop Ecommerce HTML CSS Template</title>

    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/home/assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/home/assets/css/card.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/home/assets/css/font-awesome.css"
    />

    <link
      rel="stylesheet"
      href="/static/home/assets/css/templatemo-hexashop.css"
    />
  </head>

  <body>
    {% include 'homenavbar.html' %}
    <section class="section" id="explore">
      <div class="container">
      {% for j in art %}
      <div class="card-container">
        {% for i in j %}
        <div class="card">
          <img class="card-image" src="{{i.image}}" alt="">
          <div class="title">{{i.title}}</div>
          <div class="description">{{i.desp}}</div>
      </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    </section>

    <div class="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-heading">
              <h2>Get in touch</h2>
              <span
                >leave a note to what you think or have a custom made
                painting</span
              >
            </div>
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-lg-5">
                  <fieldset>
                    <input
                      name="name"
                      type="text"
                      id="name"
                      placeholder="Your Name"
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-lg-5">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      id="email"
                      pattern="[^ @]*@[^ @]*"
                      placeholder="Your Email Address"
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-lg-2">
                  <fieldset>
                    <button
                      type="submit"
                      id="form-submit"
                      class="main-dark-button"
                    >
                      <i class="fa fa-paper-plane"></i>
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <ul>
                  <li>
                    Store Location:<br /><span
                      >Hadapsar, Pune, Maharashtra</span
                    >
                  </li>
                  <li>Phone:<br /><span>988-161-7176</span></li>
                </ul>
              </div>
              <div class="col-6">
                <ul>
                  <li>
                    Work Hours:<br /><span>07:30 AM - 9:30 PM Daily</span>
                  </li>
                  <li>Email:<br /><span>sayliborole29@gmail.com</span></li>
                  <li>
                    Social Media:<br /><span>
                      <a href="#">Instagram</a>, <a href="#">Linkedin</a></span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="first-item">
              <div class="logo">
                <img
                  src="/static/home/assets/images/white-logo.png"
                  alt="hexashop ecommerce templatemo"
                />
              </div>
              <ul>
                <li><a href="#">Hadapsar, Pune, Maharashtra</a></li>
                <li><a href="#">sayliborole29@gmail.com</a></li>
                <li><a href="#">988-161-7176</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Shopping &amp; Categories</h4>
            <ul>
              <li><a href="#">Nature Paintingd</a></li>
              <li><a href="#">Character Art</a></li>
              <li><a href="#">Digital Art</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h4>Help &amp; Information</h4>
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="under-footer">
              <p>
                Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                <br />Design:
                <a
                  href="https://templatemo.com"
                  target="_parent"
                  title="free css templates"
                  >TemplateMo</a
                >
              </p>
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-behance"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/home/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/home/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/home/assets/js/accordions.js"></script>
    <script src="/static/home/assets/js/datepicker.js"></script>
    <script src="/static/home/assets/js/scrollreveal.min.js"></script>
    <script src="/static/home/assets/js/waypoints.min.js"></script>
    <script src="/static/home/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/home/assets/js/imgfix.min.js"></script>
    <script src="/static/home/assets/js/slick.js"></script>

    <!-- Global Init -->
    <script src="/static/home/assets/js/custom.js"></script>

    <script>
      $(function () {
        var selectedClass = "";
        $("p").click(function () {
          selectedClass = $(this).attr("data-rel");
          $("#portfolio").fadeTo(50, 0.1);
          $("#portfolio div")
            .not("." + selectedClass)
            .fadeOut();
          setTimeout(function () {
            $("." + selectedClass).fadeIn();
            $("#portfolio").fadeTo(50, 1);
          }, 500);
        });
      });
    </script>
  </body>
</html>
